body{
    /* background-color: #f8caca6e; */
    background-image: url("img/bgc2.jpg");
    text-align: center;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}



.neonText {
    color: #fff;
    text-shadow:
    0 0 42px rgb(0, 247, 255),
    0 0 82px rgb(0, 247, 255),
    0 0 92px rgb(0, 247, 255),
    0 0 102px #0fa,
    0 0 151px #0fa;
  }

.board-container table{
    background-color: rgb(182, 129, 160);
    table-layout: fixed;
    margin: auto;
    height: 360px;
    width: 360px;
    box-shadow: 0 0 10px rgb(110, 107, 107);
    box-sizing: border-box;
    /* border-collapse: collapse; */
    /* empty-cells: hide; */
}

/* .board-container table td{
   width: 25%;
   height: 25%;
} */

.board-container{
    margin: 20px;
}

.hide{
    visibility: hidden;
    
}

.mine{
    background-color: red;
}

.number{
    background-color: rgb(205, 207, 209);
}

.empty{
    background-color: white;
}

button{
    width: 100px;
    font-size: large;
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
    color: rgb(48, 48, 48);
}

